body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    font-size: 25px;
    list-style-type: none;
    padding: 15px;
}

nav li {
    color: white;
    display: inline;
    margin-right: 20px;
}

section {
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:30px;
}

.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: aliceblue;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 30%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.button{
    text-align: center;
}
.button a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gold;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.modal-content input{
  display: block;
  margin: 20px auto 0px auto;
  width: 500px;
  padding:15px 25px;
  background-color: azure;
  border-radius: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 20px;
  color:darkgray;
}
.button1{
    text-align: center;
}
.button1 a{
    cursor: pointer;
    display: block;
    width: 250px;
    margin: 30px auto 0px auto;
    padding: 10px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: gold;
}
nav ul li a{
    color: wheat;
}
.img{
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: left;
}
.item1{
    display: flex;
    width:800px;
    position: absolute;
    top:199px;
    right:0px;
    z-index:0;
}